@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito",sans-serif;
}
:root {
    /* Colors */
    --dark-blue-dark-mode-elements: hsl(209, 23%, 22%);
    --very-dark-blue-dark-mode-background: hsl(207, 26%, 17%);
    --very-dark-blue-light-mode-text: hsl(200, 15%, 8%);
    --dark-gray-light-mode-input: hsl(0, 0%, 52%);
    --very-light-gray-light-mode-background: hsl(0, 0%, 98%);
    --white-dark-mode-text-light-mode-elements: hsl(0, 0%, 100%);
    
    /* Typography */
    --font-size-homepage-items: 14px;
    --font-size-detail-page: 16px;
  }

  .light{
    color: var(--very-dark-blue-light-mode-text);
    background-color: white;
 
 
 }
   .dark{
    
    background-color: var(--dark-blue-dark-mode-elements);
    color: var(--white-dark-mode-text-light-mode-elements);
 
 
 }
 